body,html{
	margin: 0;
	padding: 0;
}

/*webpage layout */
.content-wrapper-left{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width:40%;
}

.content-wrapper-right{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width:60%;
}

/*the title and logo for webpage*/
#header{
	position: relative;
	width: 400px;
	height: 80px;
	margin: 0 auto;
	padding-top: 40px;
}

#header > h1{
	font-size: 50px;
	font-family: "Trebuchet MS",sans-serif;
	color: #1c94c4;
	margin-top: 0;
}

#header > img{
	position: absolute;
	right: 10px;
	top: 40px;
}

/*Drawing pad status display area*/
.grid-infobox{
	width: 400px;
	height: 150px;
	position: absolute;
	left: 10%;
	top: 5%;
	border: 1px solid #cccccc;
	border-radius: 2%;
}

#infobox-title{
	width: 200px;
	height: 60px;
	color: #1c94c4;
	font-size: 20px;
	background-color: #fff;
	text-align: center;
	position: absolute;
	left: 30px;
	top: -10px;
}

table{
	position: absolute;
	float: left;
	top: 40px;
	left: 50px;
}

.stat-label{
	white-space: nowrap;
	color: #4d4d4d;
	font-size: 18px;
}

.stat-value > input{
	text-align: center;
	border-style: none;
	color: #c77405;
	font-size: 16px;
	font-family: Courier ,sans-serif;
}

/*user controls area(left-bottom of screen)*/
.user-control-wrapper{
	position: absolute;
	width: 100%;
	height: 480px;
	left: 0;
	bottom: 0;
}

#options-wrapper{
	width: 400px;
	margin: 10px auto;
}

#options-wrapper > h2{
	text-align: center;
	color: #1c94c4;
	font-size: 30px;
}

.user-inputs{
	position: relative;
	width: 80%;
	height: 120px;
	margin: 10px auto;
	margin-bottom: 5px;
}

#set-grid-size{
	font-size: 20px;
	color: #1c94c4;
	float: right;
	margin-top: 20px;
	margin-right: 50px;
}

#set-grid-size > input{
	text-align: center;
}

#reset-button{
	width: 150px;
	height: 60px;
	font-size: 20px;
	color: #1c94c4;
	float: left;
	margin-left: 30px;
	margin-top: 40px;	
}

#generate-button{
	width: 150px;
	height: 40px;
	font-size: 20px;
	color: #1c94c4;
	float: right;
	margin-right: 50px;
	margin-top: 8px;	
}

input{
	font-size: 20px;
}

/*the sketchpad area*/
.grid{
	display: table;
	height: 650px;
	width: 650px;
	margin: 15px auto;
	border-radius: 2px;
	border:1px solid #cccccc;
	background-color: #e6e6e6;
}

.cell{
	display: table-cell;
	background-color: #DEEFFF;
	border: 1px solid #B6BCC2;
}

.row{
	display: table-row;
}

/*the footer*/
footer{
	position: fixed;
	bottom: 0;
	height: 70px;
	width: 100%;
}
.footer{
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 30px;
	bottom: -40px;
	border-top: 1px solid #cccccc;
	background-color: #e6e6e6;
	line-height: 30px;
}

.footer > a{
	color: #454545;
	text-decoration: none;
}

.footer > a:hover{
	text-decoration: underline;
}

#left-foot{	
	position: absolute;
	float: left;
	left: 300px;
}

#right-foot{
	position: absolute;
	float: right;
	right: 300px;
}

